<div>
  <form>
    <div class='divpad'>
      <div class='row'>
        <div class='col-md-6'>
          <div class='row'>
            <div class='col-md-10' style='background-color: #ccc'>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Search by Project Name" [(ngModel)] ='searchKey' name="search" >
              </mat-form-field>
            </div>
            <div class='col-md-2'>
              <button mat-raised-button color='primary' class='btn' (click)='searchProject(searchKey)'>Search</button>
            </div>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-6'>
          <div class="col-md-6; divpad">
            <span class='btn'>Sort By:</span>
            <button mat-raised-button class='btn' (click)='sort(1)'>Start Date</button>
            <button mat-raised-button class='btn' (click)='sort(2)'>End Date</button>
            <button mat-raised-button class='btn' (click)='sort(3)'>Priority</button>
            <button mat-raised-button class='btn' (click)='sort(4)'>Completed</button>
          </div>
        </div>
      </div>
    </div>
    <div class="mat-elevation-z8" style="overflow: auto; max-height: 400px; font-size:14px">
      <ul class="list-group">
        <li class="list-group-item" *ngFor='let proj of filteredProjecList'>
          <div class="row">
            <div class="col-md-6">
              <div class='row'>
                <div class='col-md-8'>
                  <ul class="list-group" style='background-color:#ccc;'>
                    <li class="list-group-item">
                      <div>
                        <div>
                          <span>Project: </span>
                          <span>{{proj.project}}</span>
                        </div>
                        <div>
                          <div class='row'>
                            <div class='col-md-6'>
                              <span>No of Tasks: </span>
                              <span>{{proj.noOfTasks}}</span>
                            </div>
                            <div class='col-md-6'>
                              <span>Completed: </span>
                              <span>{{proj.completed}}</span>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class='row'>
                            <div class='col-md-6'>
                              <span>Start Date: </span>
                              <span>{{proj.startDate  | date: 'MM/dd/yyyy'}}</span>
                            </div>
                            <div class='col-md-6'>
                              <span>End Date: </span>
                              <span>{{proj.endDate  | date: 'MM/dd/yyyy'}}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class='col-md-2'>
                  <div>
                    <div>
                      <span>
                        Priority
                      </span>
                    </div>
                    <div style='background-color:#ccc;'>
                      <span class='example-full-height'>
                        {{proj.priority}}
                      </span>
                    </div>
                  </div>
                </div>
                <div class='col-md-2'>
                  <div>
                    <div>
                      <button mat-raised-button color='primary' class='btn' (click)='editProject(proj)'>Update</button>
                    </div>
                    <div>
                      <button mat-raised-button color='primary' class='btn' (click)='suspendProject()'>Suspend</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </ul>
    </div>
  </form>
</div>