<div class='row' style='background-color:#ccc;'>
  <div class='col-md-6'>
    <div class='row'>
      <div class='col-md-8'>
        <mat-form-field class='full-width-container'>
          <input matInput placeholder='Project Name'>
        </mat-form-field>
      </div>
      <div class='col-md-4'>
        <div>
          <div>&nbsp;</div>
          <div>
            <button mat-raised-button color='primary' (click)="openDialog()">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='col-md-6'>
    <div class='row'>
      <div class='col-md-2'>
        <div>
          <div>&nbsp;</div>
          <div>
            <mat-label>Sort By</mat-label>
          </div>
        </div>
      </div>
      <div class='col-md-2'>
        <div>
          <div>&nbsp;</div>
          <div>
            <button mat-raised-button color='primary' (click)='sort(1)'>Start Date</button>
          </div>
        </div>
      </div>
      <div class='col-md-2'>
        <div>
          <div>&nbsp;</div>
          <div>
            <button mat-raised-button color='primary' (click)='sort(2)'>End Date</button>
          </div>
        </div>
      </div>
      <div class='col-md-2'>
        <div>
          <div>&nbsp;</div>
          <div>
            <button mat-raised-button color='primary' (click)='sort(3)'>Priority</button>
          </div>
        </div>
      </div>
      <div class='col-md-2'>
        <div>
          <div>&nbsp;</div>
          <div>
            <button mat-raised-button color='primary' (click)='sort(4)'>Completed</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<mat-divider></mat-divider>
<div style='overflow: auto; max-height: 650px; background:white '>
  <div class='row' *ngFor='let task of filteredTasksList'>
    <div class='col-md-6'>
      <div class='row'>
        <div class='col-md-6'>
          <div>
            <div>
              <span>Task
              </span>
            </div>
            <div>
              <mat-card>
                <mat-card-content>{{task.task}}</mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
        <div class='col-md-6'>
          <div>
            <div>
              <span>Parent
              </span>
            </div>
            <div>
              <mat-card>
                <mat-card-content>{{task.parentTask}}</mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-4'>
      <div class='row'>
        <div class='col-md-4'>
          <div>
            <div>
              <span>Priority</span>
            </div>
            <div>
              <mat-card>
                <mat-card-content>{{task.priority}}</mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
        <div class='col-md-4'>
          <div>
            <div>
              <span>Start Date</span>
            </div>
            <div>
              <mat-card>
                <mat-card-content>{{task.startDate | date: 'MM/dd/yyyy'}}</mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
        <div class='col-md-4'>
          <div>
            <div>
              <span>End Date</span>
            </div>
            <div>
              <mat-card>
                <mat-card-content>{{task.endDate | date: 'MM/dd/yyyy'}}</mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-2'>
      <div>
        <div>
          &nbsp;
        </div>
        <div>
          <button mat-raised-button color='primary' class='btn' (click)='editTask(task._id)'>Edit</button>
          <button mat-raised-button color='primary'  [disabled]="task.status === 'Completed'" class='btn' (click)='endTask(task)'>End Task</button>
        </div>
      </div>
    </div>
  </div>
</div>