.example-radio-group {
  display: inline-flex;
  flex-direction: column;
  border-color: black;
}

.mat-radio-outer-circle
{
  border-color: black;
}
.example-radio-button {
  margin: 5px;
  border-color: black;
}

.example-selected-value {
  margin: 15px 0;
}

mat-card-content {
  background-color: whitesmoke;
}

.dailogDimension
{
  width: 700px;
  height: 750px;
}
.btn{
  margin: 2px;
}

.header{
  position:fixed;
  width: 700px;
  height: 50px;
  background-color: darkslategray;
  padding: 5px
}

.contentDimension
{
  top:50px;
  background-color:white;
  position: relative;
  overflow: auto;
  color:black;
  background:grey;
}

.footer{
  position: fixed;
  width: 700px;
  height: 50px;
  top:805px;
  background-color: darkslategray;
  padding-left: 600px;
  padding-top: 10px;
}

.full-width-container {
  display: flex;
  flex-direction: column;
}