<div>
  <div>
    <div class='divpad'>
      <div class='row'>
        <div class='col-md-6'>
          <div class='row'>
            <div style='background-color: #ccc' class='col-md-10'>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Enter value to search" [(ngModel)]='searchKey' name="search">
              </mat-form-field>
            </div>
            <div class='col-md-2'>
              <button mat-raised-button class='btn' (click)='searchUser()'>Search</button>
            </div>
          </div>
        </div>
      </div>
      <div class='row; divpad'>
        <div class='col-md-6'>
          <span class='btn'>Sort:</span>
          <button mat-raised-button class='btn' (click)='sort(1)'>First Name</button>
          <button mat-raised-button class='btn' (click)='sort(2)'>Last Name</button>
          <button mat-raised-button class='btn' (click)='sort(3)'>Id</button>
        </div>
      </div>
    </div>
  </div>
  <div class="mat-elevation-z8" style="overflow: auto; background: red; max-height: 400px">
    <ul class="list-group">
      <li class="list-group-item" *ngFor='let user of filteredUsersData'>
        <div class="row">
          <div class="col-md-6">
            <ul class="list-group">
              <li class="list-group-item">
                <div class='row'>
                  <div class='col-md-10' style='background-color:#ccc;'>
                    <span>First Name: </span><span>{{user.firstName}}</span>
                  </div>
                  <div class='col-md-2'>
                    <button mat-raised-button color='primary' (click)='editUser(user._id)'>Edit</button>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class='row'>
                  <div class='col-md-10' style='background-color:#ccc;'>
                    <span>Last Name: </span> <span>{{user.lastName}}</span>
                  </div>
                  <div class='col-md-2'>
                    <button mat-raised-button color='warn' (click)='deleteUser(user._id)'>Delete</button>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class='row'>
                  <div class='col-md-10' style='background-color:#ccc;'>
                    <span>Employee Id: </span> <span>{{user.employeeId}}</span>
                  </div>
                  <div class='col-md-2'></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>