<div #resetForm>
  <form #form="ngForm" [formGroup]='userAddGrp'>
    <mat-card>
      <table>
        <tr>
          <td>
            <mat-label>First Name:</mat-label>
          </td>
          <td>
            <mat-form-field>
              <input matInput formControlName='firstName' #firstName>
              <mat-error>First Name is required</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-label>Last Name:</mat-label>
          </td>
          <td>
            <mat-form-field>
              <input matInput formControlName='lastName' #lastName />
              <mat-error>Last Name is required</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-label>Employee Id:</mat-label>
          </td>
          <td>
            <mat-form-field>
              <input matInput formControlName='employeeId' #employeeId />
              <mat-error>Employee Id is required</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
            <!-- TODO: left aligh the buttons -->
            <!-- <button mat-raised-button color="primary" class='btn' (click)='addUser(firstName, lastName, employeeId)' >Submit</button> -->
            <button mat-raised-button color="primary" class='btn'
              (click)='addUser(buttonAction)'>{{buttonAction}}</button>
            <button mat-raised-button color="primary" type='button' class='btn' (click)='resetFields()'>Reset</button>
          </td>
        </tr>
      </table>
    </mat-card>
  </form>
</div>