<div>
  <form [formGroup]='taskGroup'>
    <mat-card>
      <table>
        <tr>
          <td>
            <mat-lable>Project: </mat-lable>
          </td>
          <td>
            <table style='width:100%'>
              <tr>
                <td style='width:80%'>
                  <mat-form-field class='full-width-container'>
                    <input matInput placeholder='Project Name' formControlName='projectName' readonly>
                    <mat-error>Project is required </mat-error>
                  </mat-form-field>
                </td>
                <td style='width:20%'>
                  <button mat-raised-button color='primary' type='button' class='btn' (click)='getProjects()'
                    [disabled]='disableControl'>Search</button>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <mat-lable>Task: </mat-lable>
          </td>
          <td>
            <table width='100%'>
              <tr width='100%'>
                <td>
                  <mat-form-field class='full-width-container'>
                    <input matInput placeholder='Task' formControlName='task'>
                    <mat-error>Task name is required</mat-error>
                  </mat-form-field>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <mat-lable></mat-lable>
          </td>
          <td>
            <mat-checkbox (click)='onParentTaskSelected()' formControlName='isParentTask'> Parent Task</mat-checkbox>
          </td>
        </tr>
        <tr>
          <td>
            <mat-lable>Priority: </mat-lable>
          </td>
          <td>
            <mat-slider [min]='min' [max]='max' class='full-width-container' formControlName='priority'
              [thumbLabel]="thumbLabel" [disabled]='disableControl'>
              <mat-error>Prority is required</mat-error>
            </mat-slider>
          </td>
        </tr>
        <tr>
          <td>
            <mat-lable>Parent Task:</mat-lable>
          </td>
          <td>
            <table width='100%'>
              <tr>
                <td width='80%'>
                  <mat-form-field class='full-width-container'>
                    <input matInput placeholder='Parent Task' formControlName='parentTask' readonly>
                  </mat-form-field>
                </td>
                <td width='80%'>
                  <button mat-raised-button color='primary' type='button' class='btn' (click)='getParentTasks()'
                    [disabled]='disableControl'>Search</button>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <mat-lable>Start Date:</mat-lable>
          </td>
          <td>
            <table>
              <tr>
                <td>
                  <mat-form-field class='btn'>
                    <input matInput [matDatepicker]="startDate" placeholder="Start Date" formControlName='startDate'
                      readonly class='dateFont'>
                    <mat-error>Start date required</mat-error>
                    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                    <mat-datepicker #startDate [disabled]='disableControl'></mat-datepicker>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class='btn'>
                    <input matInput [matDatepicker]="endDate" placeholder="End Date" formControlName='endDate' readonly
                      class='dateFont'>
                    <mat-error>End date required</mat-error>
                    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                    <mat-datepicker #endDate [disabled]='disableControl'></mat-datepicker>
                  </mat-form-field>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <mat-lable>User: </mat-lable>
          </td>
          <td>
            <table width='100%'>
              <tr>
                <td width='80%'>
                  <mat-form-field class='full-width-container'>
                    <input matInput placeholder='User' formControlName='user' readonly>
                  </mat-form-field>
                </td>
                <td width='20%'>
                  <button mat-raised-button color='primary' type='button' class='btn' (click)='getUsers()'
                    [disabled]='disableControl'>Search</button>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td class='align-right'>
            <button mat-raised-button color='primary' [disabled]='taskGroup.invalid && taskGroup.touched' class='btn'
              (click)='addTask()'>{{buttonAction}}</button>
            <button mat-raised-button color='primary' type='button' class='btn' (click)='resetControls()'>Reset</button>
          </td>
        </tr>
      </table>
    </mat-card>
  </form>
</div>
